body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    max-height: 15rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
    font-family: "Libre Baskerville", serif;
}

header .gutenberg-logo {
    margin: 0;
    padding: 0;
}

header .gutenberg-logo img {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 15rem;
}

header .search-container {
    display: flex;
    flex-direction: column;
}

header .form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 1rem 0;
}

header .search input {
    font-size: 1.1rem;
}

header #searchInput {
    height: 0 1rem;
    padding: 1rem;
    margin-right: 0;
}

header #searchButton {
    cursor: pointer;
    background-color: #333;
    border: none;
    margin: 0 0 0 0.5rem;
    padding: 0;
}

header #searchFigure {
    margin: 0;
    height: 2rem;
}

header #searchFigure img {
    height: 100%;
}

header #searchInput {
    background-color: #ebebeb;
}

header .options {
    display: flex;
    flex-direction: row;
}

header .options input {
    margin-right: 0.5rem;
}

main {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://th.bing.com/th/id/OIP.ZG0oyAVurj5_hGJLSL8l-wAAAA?rs=1&pid=ImgDetMain");
    background-repeat: repeat;
    background-size: 100vw;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.result-item {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    opacity: 70%;
}

.result-item h2 {
    margin: 0 0 0.5rem 0;
    font-style: italic;
    font-size: 1.2rem;
}

.result-item p {
    margin: 0.5rem 0;
}
@media screen and (width < 700px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .gutenberg-logo {
        display: none;
    }
}
